@import "../css/fontawesome/css/all.css"; 

main > .container-fluid {
  padding: 3% 5% 5%;

}

main > .container-fluid > h1 {
  padding: 0 0 20px 0;

}

.footer {
  background-color: #f5f5f5;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.card-deck {
padding-bottom: 2%;
}

.card{
  max-width: 554px;
}


code {
  font-size: 80%;
}

